body {
  background: $white;
  color: $dark-inigo;
  font-size: 16px;
  font-family: "MarkOffcPro", sans-serif;
  font-style: normal;
  line-height: 24px;
}
h1 {
  font-family: "MarkOffcPro-Bold", sans-serif;
  font-size: 32px;
  line-height: 44px;
}
